{% extends "layout.html" %}


{% block title %}{% endblock %} <!-- no title for index -->

{% block body%}
<script type="module" src="static/js/localStorageHandlers.js"></script>
<script type="module" src="static/js/newgame.js"></script>

<div class="container-lg py-1 my-0">
    <div id="info-board" class="alert alert-primary mb-2 text-center" role="alert" style="min-height: 165.2px !important; position: relative;">
        <p class="display-5 mb-0"> Guess as many flags as possible <span class="fw-semibold fst-italic" id="info-duration">30 seconds!</span> </p>
        <p class="fs-6 fw-light mb-0">Submit your answer by either typing or selecting the country's name (with arrow keys)</p>
        <p class="fs-6 fw-light">Timer starts when you submit your first try!</p>
        <div style="position: absolute; bottom: 10px; left: 10px;">
            <p class="d-inline-flex gap-1 my-1 me-4">
                <input data-duration="30000" type="radio" class="btn-check" name="game-duration" id="game-duration-option-30s" autocomplete="off">
                <label class="btn btn-sm font-monospace" for="game-duration-option-30s">30s</label>
    
                <input data-duration="45000" type="radio" class="btn-check" name="game-duration" id="game-duration-option-45s" autocomplete="off">
                <label class="btn btn-sm font-monospace" for="game-duration-option-45s">45s</label>
    
                <input data-duration="60000" type="radio" class="btn-check" name="game-duration" id="game-duration-option-60s" autocomplete="off">
                <label class="btn btn-sm font-monospace" for="game-duration-option-60s">60s</label>
    
                <input data-duration="120000" type="radio" class="btn-check" name="game-duration" id="game-duration-option-120s" autocomplete="off">
                <label class="btn btn-sm font-monospace" for="game-duration-option-120s">120s</label>
            </p>
        </div>
        <div style="position: absolute; bottom: 10px; right: 10px;"> 
            <p class="d-inline-flex gap-1 my-1">
                <input data-increment="0" type="radio" class="btn-check border-primary-subtle" name="game-addition" id="game-add-time-option-0s" autocomplete="off">
                <label class="btn btn-sm font-monospace" for="game-add-time-option-0s">+0s</label>
    
                <input data-increment="5000" type="radio" class="btn-check border-primary-subtle" name="game-addition" id="game-add-time-option-5s" autocomplete="off">
                <label class="btn btn-sm font-monospace" for="game-add-time-option-5s">+5s</label>
            </p>
        </div>
    </div>

    <div class="progress mb-2" role="progressbar">
        <div class="progress-bar bg-primary" style="width: 100%"></div>
    </div>

    <div id="game-board" class="my-0 py-0">
        <div class="alert alert-dark py-1" role="alert" style="min-height: 651px; min-width: 1296;">
            <div class="row justify-content-center flag-container border border-primary" style="position: relative;">    <!-- I don't really know why bootstrap's container-sm on its own isnt able to constrain this container's width -->
                <div id="flag-svg" class="position-relative">
                    <!-- SVG will be inserted here by JavaScript -->
                </div>
                <div id="feedback-parent" class="col-2" style="position: absolute; top: auto; right: 20px;">
                    <!-- <div>
                        <svg xmlns="http://www.w3.org/2000/svg" height="160px" width="160px" viewBox="0 -960 960 960" fill="#198754"><path d="M716-120H272v-512l278-288 39 31q6 5 9 14t3 22v10l-45 211h299q24 0 42 18t18 42v81.84q0 7.16 1.5 14.66T915-461L789-171q-8.88 21.25-29.59 36.12Q738.69-120 716-120Zm-384-60h397l126-299v-93H482l53-249-203 214v427Zm0-427v427-427Zm-60-25v60H139v392h133v60H79v-512h193Z"/></svg>
                    </div> -->
                    <!-- <div>
                        <svg xmlns="http://www.w3.org/2000/svg" height="160px" width="160px" viewBox="0 -960 960 960" fill="#dc3545"><path d="M242-840h444v512L408-40l-39-31q-6-5-9-14t-3-22v-10l45-211H103q-24 0-42-18t-18-42v-81.84q0-7.16-1.5-14.66T43-499l126-290q8.88-21.25 29.59-36.13Q219.31-840 242-840Zm384 60H229L103-481v93h373l-53 249 203-214v-427Zm0 427v-427 427Zm60 25v-60h133v-392H686v-60h193v512H686Z"/></svg>
                        <p class="fs-3 my-0 text-center"> {commonNameFeedback}</p>
                    </div> -->
                </div>
            </div>
            <div class="row justify-content-center mt-3 border border-primary">
                <div class="col-10 col-md-8 col-lg-5">
                    <div class="alert alert-dark border border-primary my-2" role="alert" style="min-height: 300px !important;">   <!-- class="alert alert-dark" role="alert" -->
                        <div class="input-group input-group-md">
                            <input id="flag-input" type="text" class="form-control" placeholder="Country Name" autocomplete="off" autofocus>
                        </div>
                        <ul id="country-options" class="list-group text-center background-primary mt-1">
                            <!-- <li class="first-option list-group-item list-group-item-secondary placeholder-glow bg-primary-subtle text-primary">
                                <span class="placeholder col-7"></span>
                            </li>
                            <li class="list-group-item list-group-item-secondary placeholder-glow">
                                <span class="placeholder col-5"></span>
                            </li>
                            <li class="list-group-item list-group-item-secondary placeholder-glow">
                                <span class="placeholder col-4"></span>
                            </li>
                            <li class="list-group-item list-group-item-secondary placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </li>
                            <li class="last-option list-group-item list-group-item-secondary placeholder-glow">
                                <span class="placeholder col-5"></span>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}