{% extends "layout.html" %}


{% block title %}{% endblock %} <!-- no title for index -->

{% block body%}
<script src="static/js/game.js"></script>

<style>
    .flag-container {
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #flag-svg {
        width: 100%;
        height: 100%;
    }
    #flag-input{
        text-align: center; 
        caret-color: transparent;
        margin-bottom: 1px;
    }

    input, .input-group, .input-group-lg, .list-group, .alert, .progress, label {
        border-radius: 0px !important;
    }

    .progress{
        height: 3px;
    }

    .list-group-item{
        border-width: 3px;
    }

    /* #selected-option {
        border-color: var(--bs-primary);
    } */



    /* $form-feedback-icon-invalid: None; */
    
</style>

<div class="container-lg py-1">
    <div id="info-board" class="alert alert-primary mb-2 text-center" role="alert" style="min-height: 165.2px !important; position: relative;">
        <p class="display-4 mb-0"> Guess all the flags you can in <span class="fw-semibold fst-italic" id="info-duration">30 Seconds!</span> </p>
        <p class="fs-6 fw-light mb-0">Submit your answer by either typing or selecting the country's name (with arrow keys)</p>
        <p class="fs-6 fw-light">Timer starts when you submit your first try!</p>
        <div style="position: absolute; bottom: 10px; left: 10px;">        <!-- class="position-absolute start-50 translate-middle" -->
            <p class="d-inline-flex gap-1 my-1 me-4">
                <input data-duration="30" data-bs-value="" type="radio" class="btn-check" name="game-duration" id="game-duration-option-30s" autocomplete="off" checked>
                <label class="btn btn-sm font-monospace" for="game-duration-option-30s">30s</label>
    
                <input data-duration="45" type="radio" class="btn-check" name="game-duration" id="game-duration-option-45s" autocomplete="off">
                <label class="btn btn-sm font-monospace" for="game-duration-option-45s">45s</label>
    
                <input data-duration="60" type="radio" class="btn-check" name="game-duration" id="game-duration-option-60s" autocomplete="off">
                <label class="btn btn-sm font-monospace" for="game-duration-option-60s">60s</label>
    
                <input data-duration="120" type="radio" class="btn-check" name="game-duration" id="game-duration-option-120s" autocomplete="off">
                <label class="btn btn-sm font-monospace" for="game-duration-option-120s">120s</label>
            </p>
        </div>
        <div style="position: absolute; bottom: 10px; right: 10px;"> <!-- class="position-absolute start-50 translate-middle"-->
            <p class="d-inline-flex gap-1 my-1">
                <input data-increment="0" type="radio" class="btn-check border-primary-subtle" name="game-addition" id="game-add-time-option-0s" autocomplete="off" checked>
                <label class="btn btn-sm font-monospace" for="game-add-time-option-0s">+0s</label>
    
                <input data-increment="5" type="radio" class="btn-check border-primary-subtle" name="game-addition" id="game-add-time-option-5s" autocomplete="off">
                <label class="btn btn-sm font-monospace" for="game-add-time-option-5s">+5s</label>
            </p>
        </div>
    </div>

    <div class="progress mb-2" role="progressbar">
        <div class="progress-bar bg-primary" style="width: 100%"></div>
    </div>

    <div id="game-board">
        <div class="alert alert-dark mb-4" role="alert" style="min-height: 651px; min-width: 1296;">
            <div class="flag-container">    <!-- I don't really know why bootstrap's container-sm on its own isnt able to constrain this container's width -->
                <div id="flag-svg" class="position-relative">
                    <!-- SVG will be inserted here by JavaScript -->
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-10 col-md-8 col-lg-5">
                    <div class="alert alert-dark" role="alert" style="min-height: 285px !important;">   <!-- class="alert alert-dark" role="alert" -->
                        <div class="input-group input-group-md">
                            <input id="flag-input" type="text" class="form-control" placeholder="Country Name" autocomplete="off" autofocus>
                        </div>
                        <ul id="country-options" class="list-group text-center background-primary mt-1">
                            <li class="first-option list-group-item list-group-item-secondary placeholder-glow border-primary-subtle">
                                <span class="placeholder col-7"></span>
                            </li>
                            <li class="list-group-item list-group-item-secondary placeholder-glow">
                                <span class="placeholder col-5"></span>
                            </li>
                            <li class="list-group-item list-group-item-secondary placeholder-glow">
                                <span class="placeholder col-4"></span>
                            </li>
                            <li class="list-group-item list-group-item-secondary placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </li>
                            <li class="last-option list-group-item list-group-item-secondary placeholder-glow">
                                <span class="placeholder col-5"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}