{% extends "layout.html" %}

{% block title %}/register{% endblock %}

{% block body%}
<div class="container-lg text-center justify-content-center">
    <div class="row">
        <div class="d-none d-lg-block col-lg-7 justify-content-center">
            <img src="static/images/speed_flags_desktop_mk2.png" alt="" class="img-fluid">
            <!-- change the frame colour to match bootstrap's dark mode -->
        </div>
        <div class="mx-auto mt-1 mt-lg-5 mt-xl-5 col-lg-5 text-center" style="max-width: 400px; min-width: 300px;">
            <div class="display-4 mb-3 fw-medium">Sign Up to Practice!</div>
            <!-- THE REGISTER FORM -->
            <form id="registrationForm" class="needs-validation" action="/register" method="post" novalidate>
                <div class="input-group mb-2">
                    <label for="username" class="form-label block"></label>
                    <input id="username" autocomplete="off" class="form-control mx-auto w-auto" name="username" placeholder="Username" pattern="^[a-zA-Z0-9_-]{3,15}$" required type="text">
                    <div id="UNfeedback" class="invalid-feedback"></div>
                </div>
                <div class="input-group mb-2">
                    <label for="email" class="form-label"></label>
                    <input id="email" autocomplete="off" class="form-control mx-auto w-auto" name="email" placeholder="Email*" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(students\.edu\.sg|schools\.gov\.sg|gmail\.com|yahoo\.com|protonmail\.com)$" required type="email">
                    <div id="EMfeedback" class="invalid-feedback"></div>
                </div>
                <div class="input-group mb-2">
                    <label for="PWfield" class="form-label"></label>
                    <input id="PWfield" autocomplete="off"  class="form-control mx-auto w-auto" name="password" placeholder="Password" required type="password">
                    <button type="button" id="PWbutton" class="btn password-toggle"><i class="bi bi-eye-fill"></i></button>
                </div>
                <div class="input-group mb-2">
                    <label for="CPWfield" class="form-label"></label>
                    <input id="CPWfield" autocomplete="off" class="form-control mx-auto w-auto" name="confirm_password" placeholder="Confirm Password" required type="password">
                    <button type="button" id="CPWbutton" class="btn password-toggle"><i class="bi bi-eye-fill"></i></button>
                    <div id="PWfeedback" class="invalid-feedback"></div>
                </div>
                <div class="d-flex">
                    <button type="submit" class="btn custom-button flex-fill mt-2">Sign Up</button>
                </div>
            </form>
            <div class="d-flex align-items-center my-1">
                <hr class="flex-grow-1">
                <span class="px-2 text-muted">*only @gmail is accepted for now :)</span>
                <hr class="flex-grow-1">
            </div>
        </div>
    </div>
</div>

{% endblock %}